@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

html, body {
  height: 100%;
}

#Main {
  height: 100%;
}

.main {
  height: 100%;
  background-color: aqua;
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  font-family:Arial;
}

.badge {
  height: 40px;
  background: #58C777;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  font-family: sans-serif;
  color: #FFF;
  position: relative;
  box-shadow: inset 0px 0px 0px 4px rgba(255, 255, 255, 0.34);
}

.hide {
  opacity: 0;
}

.warning {
  color: orange;
}